.not-found-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  height: 100vh;
}
.head {
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
}
.para {
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
}
